{{ define "main" }}
    <div class="bg-white br3 pa3 pa4-ns w-100 w-70-ns center">
        <section class="w-100 mw8">
            <h1 class="tc-l ph3 ph0-l f2 fw6 mb3 mt0 lh-title">
                {{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}
            </h1>
            {{ $pages := where .Paginator.Pages ".Params.skip" "ne" "true" }}
            {{ $pageNum := .Paginator.PageNumber }}
            {{ range $ix, $pg := where (where $pages ".Date.Unix" "<" now.Unix) "Section" "ne" "slides" }}
              {{ if (and (eq $ix 1) (eq $pageNum 1)) }}
                <div class="relative w-100">
                  <article class="bb b--black-10">
                    <div class="db pv3 ph0-l no-underline dark-gray w-100 w6-ns pl3-ns sans-serif lh-solid">
                      {{ partial "tagcloud.html" .Site.Taxonomies.tags }}
                    </div>
                  </article>
                </div>
              {{ end }}
              {{ partial "li.html" $pg }}
            {{ end }}
        </section>
    </div>
{{ end }}

{{ define "pagination" }}
    <footer class="w-100 sans-serif" role="contentinfo">
        <nav class="w-third-l pb3 f6 center db" role="navigation">
            {{ template "_internal/pagination.html" . }}
        </nav>
    </footer>
{{ end }}
